
      
        
<div class="col-md-2">
          <div class="login-form">
            <form action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">Iniciar sesión</h2>       
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" #userName required>                    
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" #userPassword required>                  
                </div>
                <div class="form-group">
                    <button type="button" (click)="authService.SignIn(userName.value, userPassword.value)" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>
                <div class="form-group">
                  <button type="button" (click)="authService.GoogleAuth()" class="btn btn-primary btn-block">Iniciar sesión con google</button>
                </div> 
            </form>            
        </div>
</div>