

<div class="row">
    <div class="col-md-4">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Listado de servicios</h4>
            </div>
            <div class="ibox-content">
    
                <table class="table">
                    ​
                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>                                                    
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>TipoServicio</th>
                            <th>Periocidad</th>
                            <th>Activo</th>
                            <th>Precio</th>
                            
                        </tr>
                    </thead>
                    ​
                    <!-- -->
    
                    ​
                    <!-- Cuerpo de la tabla -->
                    <tbody>
                        <tr *ngFor="let cli of listaServicios">                            
                            <td>{{cli.Nombre}}</td>     
                            <td>{{cli.Descripcion}}</td>     
                            <td>{{cli.TipoServicio}}</td>
                            <td>{{cli.Periocidad}}</td>     
                            <td>{{cli.Activo}}</td>   
                            <td>{{cli.Precio}}</td>                               
                        </tr>        
      
                    </tbody>
                    ​
                    ​
                </table>                
            </div>
        </div>
    </div>

<div class="col-md-2"></div>
<div class="col-md-4">
<div class="ibox">
    <div class="row3">
        <h4>Ingresar datos servicios</h4>
    </div>
    <div class="ibox-content">

        <form #servicioform="ngForm" (ngSubmit)="setServicio()">
            
            <div class="form-group">
                <p>Nombre</p>
                <input type="text" placeholder="nombre" id="nombre" [(ngModel)]="outPut.Nombre" name="nombre"
                    class="form-control">
            </div>
            <div class="form-group">
                <p>Descripcion</p>
                <input type="text" placeholder="descripcion" id="descripcion" [(ngModel)]="outPut.Descripcion"
                    class="form-control" name="descripcion" required>
            </div>
            <div class="form-group">
                <p>TipoServicio</p>
                <input type="text" placeholder="tiposervicio" id="tiposervicio" [(ngModel)]="outPut.TipoServicio"
                    name="tiposervicio" class="form-control">
            </div>
            
            <div class="form-group">
                <p>Periocidad</p>
                <input type="text" placeholder="periocidad" id="periocidad" [(ngModel)]="outPut.Periocidad"
                    name="periocidad" class="form-control">
            </div>
            <div class="form-group">
                <p>Activo</p>
                <input type="checkbox"  id="activo" [(ngModel)]="outPut.Activo"
                    name="activo" class="checkbox">
            </div>
           
            <div class="form-group">
                <p>Precio</p>
                <input type="decimal" placeholder="precio" id="precio" [(ngModel)]="outPut.Precio"
                    name="precio" class="form-control">
            </div>

            ​<button type="submit" class="btn-btn-primary">Guardar</button>

        </form>
        ​
    </div>
</div>
</div> 
</div>


