<div class="row">
    <div class="col-md-4">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Listado de citas</h4>
            </div>
            <div class="ibox-content">
    
                <table class="table">
                    ​
                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>                                                    
                            <th>FechaReserva</th>
                            <th>FechaIngreso</th>
                            <th>IdCliente</th>
                            <th>MotivoConsulta</th>
                           
                            
                        </tr>
                    </thead>
                    ​
                    <!-- -->
    
                    ​
                    <!-- Cuerpo de la tabla -->
                    <tbody>
                        <tr *ngFor="let cli of listaCitas">                            
                            <td>{{cli.FechaReserva}}</td>     
                            <td>{{cli.FechaIngreso}}</td>     
                            <td>{{cli.IdCliente}}</td>
                            <td>{{cli.MotivoConsulta}}</td>                                   
                        </tr>        
      
                    </tbody>
                    ​
                    ​
                </table>                
            </div>
        </div>
    </div>

<div class="col-md-2"></div>
<div class="col-md-4">
<div class="ibox">
    <div class="row3">
        <h4>Ingresar datos citas</h4>
    </div>
    <div class="ibox-content">

        <form #citaform="ngForm" (ngSubmit)="setCita()">
            
            <div class="form-group">
                <p>Fecha De Reserva</p>
                <input type="datetime" placeholder="fechareserva" id="fechareserva" [(ngModel)]="outPut.FechaReserva" name="fechareserva"
                    class="form-control">
            </div>
            <div class="form-group">
                <p>Fecha De Ingreso</p>
                <input type="datetime" placeholder="fechaingreso" id="fechaingreso" [(ngModel)]="outPut.FechaIngreso"
                    class="form-control" name="fechaingreso" required>
            </div>
            <div class="form-group">
                <p>IdCliente</p>
                <input type="text" placeholder="idcliente" id="idcliente" [(ngModel)]="outPut.IdCliente"
                    name="idcliente" class="form-control">
            </div>
            
            <div class="form-group">
                <p>Motivo de la Consulta</p>
                <input type="text" placeholder="motivoconsulta" id="motivoconsulta" [(ngModel)]="outPut.MotivoConsulta"
                    name="motivoconsulta" class="form-control">
            </div>
           

            ​<button type="submit" class="btn-btn-primary">Guardar</button>

        </form>
        ​
    </div>
</div>
</div> 
</div>

