

<div class="row">
    <div class="col-md-4">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Listado de clientes</h4>
            </div>
            <div class="ibox-content">
    
                <table class="table">
                    ​
                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>                                                    
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            
                        </tr>
                    </thead>
                    ​
                    <!-- -->
    
                    ​
                    <!-- Cuerpo de la tabla -->
                    <tbody>
                        <tr *ngFor="let cli of listaClientes">                            
                            <td>{{cli.Nombre}}</td>     
                            <td>{{cli.Apellido}}</td>     
                            <td>{{cli.Telefono}}</td>
                            <td>{{cli.Direccion}}</td>     
                            <td>{{cli.Email}}</td>                                
                        </tr>        
      
                    </tbody>
                    ​
                    ​
                </table>                
            </div>
        </div>
    </div>

<div class="col-md-2"></div>
<div class="col-md-4">
<div class="ibox">
    <div class="row3">
        <h4>Ingresar datos cliente</h4>
    </div>
    <div class="ibox-content">

        <form #clienteform="ngForm" (ngSubmit)="setCliente()">
            
            <div class="form-group">
                <p>Nombre</p>
                <input type="text" placeholder="nombre" id="nombre" [(ngModel)]="outPut.Nombre" name="nombre"
                    class="form-control">
            </div>
            <div class="form-group">
                <p>Apellido</p>
                <input type="text" placeholder="apellido" id="apellido" [(ngModel)]="outPut.Apellido"
                    class="form-control" name="apellido" required>
            </div>
            <div class="form-group">
                <p>Teléfono</p>
                <input type="text" placeholder="teléfono" id="telefono" [(ngModel)]="outPut.Telefono"
                    name="telefono" class="form-control">
            </div>
            
            <div class="form-group">
                <p>Dirección</p>
                <input type="text" placeholder="dirección" id="direccion" [(ngModel)]="outPut.Direccion"
                    name="direccion" class="form-control">
            </div>
            <div class="form-group">
                <p>Email</p>
                <input type="text" placeholder="email" id="email" [(ngModel)]="outPut.Email"
                    name="email" class="form-control">
            </div>
           

            ​<button type="submit" class="btn-btn-primary">Guardar</button>

        </form>
        ​
    </div>
</div>
</div> 
</div>

